.input {
	padding: 6px 20px;
	width: 100%;
	background: transparent;
	margin-top: 20px;
	color: #fff;
	font-size: 18px;
	border-radius: 6px;
	border-radius: 8px;
	outline: none;
	border: 1px solid #414144;
	box-shadow: 1px 2px 18px rgba(99, 97, 113, 0.558);

	&::placeholder {
		font-size: 14px;
	}
}
