@import '../../app/scss/variables.scss';
.wrapper {
	background-color: $backgroundWidget;
	width: 100%;

	.head {
		background-color: $background;
		border-bottom: 2px solid #414144;
		.title {
			display: inline-block;
			font-size: 18px;
			padding: 16px;
			border-right: 2px solid #414144;
		}
	}

	.smp {
		display: flex;
		flex-direction: column;
	}
}
